body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto";
    margin: 0;
    font-size: 16px;
    align-items: center;
}

#hero { padding-top: 50px; padding-bottom: 50px;}

#hero h1 {
    font-size: 32px;
    font-weight:bolder;
}

#hero p, header nav {
    color: #E5E7EB;
}

header h1 {
    font-size: 18px;
    font-weight: bold;
}

header nav a {
    padding-left: 20px;
    }

header nav {
    display: flex;
    align-items: center;
}


.container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 15px 20%;
}

#hero, footer, header {
    background-color: #CF6967;
    color: #f9faf8;
}

#img-alt {
    width: 900px;
    height: auto;
    background-color: gray;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#images {
    color: #1f2937;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-line {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 5% 5%;
}

.image-box p {
    padding-top: 5px;
    text-align: center;
}

#images h1 {
    font-size: 36px;
    font-weight: bolder;
}

#images img {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #F882f6;
    border-radius: 1rem;
}

#quote {
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 24px;
    color: #1f2937;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 80px;
}

#quote-source {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    justify-content: end;
}

#c-t-a-box {
    background-color: #F882f6;
    color: #f9faf8;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: .45rem;
}

#call-to-action {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #F882f6;
    font-weight: bold;
    font-size: 16px;
    color: #E5E7EB;
    padding: 10px 30px;
    margin: 10px 0px 0px 0px;
    border-radius: .4rem;
}

#call-to-action button {
    border-style: solid;
    border-color: #E5E7EB;
}

h1, p {
    margin: 0%;
}